<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      /* Taken from http://bettermotherfuckingwebsite.com/ */
      body{
        margin:40px auto;
        max-width:650px;
        line-height:1.6;
        font-size:18px;
        color:#444;
        padding:0 10px
      }
      h1, h2, h3 { line-height:1.2 }
    </style>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} - {% endif %}Silence of the Narcissist</title>
  </head>
  <body>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
  </body>
</html>
